[package]
name = "rat-widget"
version = "0.13.0"
edition = "2021"
authors = ["thscharler <thscharler@gmail.com>"]
description = "ratatui widgets extended edition"
license = "MIT/Apache-2.0"
repository = "https://github.com/thscharler/rat-widget"
readme = "readme.md"
keywords = ["ratatui", "widget"]
categories = ["command-line-interface"]
exclude = [".idea/*", ".gitignore"]


[lints.rust]
absolute_paths_not_starting_with_crate = "warn"
# box_pointers = "warn"
elided_lifetimes_in_paths = "warn"
explicit_outlives_requirements = "warn"
keyword_idents = "warn"
macro_use_extern_crate = "warn"
meta_variable_misuse = "warn"
missing_abi = "warn"
# NOT_ACCURATE: missing_copy_implementations = "warn"
missing_debug_implementations = "warn"
missing_docs = "allow"
non_ascii_idents = "warn"
noop_method_call = "warn"
# NO: or_patterns_back_compat = "warn"
pointer_structural_match = "warn"
semicolon_in_expressions_from_macros = "warn"
# NOT_ACCURATE: single_use_lifetimes = "warn"
trivial_casts = "warn"
trivial_numeric_casts = "warn"
unreachable_pub = "warn"
# unsafe_code: = "warn"
unsafe_op_in_unsafe_fn = "warn"
unstable_features = "warn"
# NO: unused_crate_dependencies = "warn"
# NO: unused_extern_crates = "warn"
unused_import_braces = "warn"
unused_lifetimes = "warn"
unused_qualifications = "warn"
# NO: unused_results = "warn"
variant_size_differences = "warn"

[dependencies]
ratatui = { version = "0.27", features = ["unstable-widget-ref", "unstable-rendered-line-info"] }
chrono = { version = "0.4", features = ["unstable-locales"] }
crossterm = "0.28"
ropey = "1.6.1"
iset = "0.3"
pure-rust-locales = "0.8"
unicode-segmentation = "1.11"
unicode-width = "0.1.12"
unicode-display-width = "0.3.0"
rust_decimal = "1.34"
rust_decimal_macros = "1.34"
memchr = "2.7.2"
format_num_pattern = "0.9"
log = "0.4"
directories-next = "2.0.0"
sysinfo = "0.31"

rat-event = { version = "0.14", path = "../rat-event" }
rat-focus = { version = "0.10", path = "../rat-focus" }
rat-ftable = { version = "0.16", path = "../rat-ftable" }
rat-scrolled = { version = "0.12", path = "../rat-scrolled" }


[dev-dependencies]
fern = "0.6"
anyhow = "1.0.82"
lorem-rustum = "0.0.5"