[package]
name = "rat-ftable"
version = "0.31.0"
edition = "2021"
description = "ratatui table widget for large data"
license = "MIT/Apache-2.0"
repository = "https://github.com/thscharler/rat-salsa"
readme = "readme.md"
keywords = ["ratatui", "table", "large"]
categories = ["command-line-interface"]
exclude = [".idea/*", ".gitignore", "ftable.gif"]

[lints.clippy]
collapsible_else_if = "allow"

[features]
unstable-widget-ref = [
    "ratatui/unstable-widget-ref",
    "rat-scrolled/unstable-widget-ref",
]

[dependencies]
crossterm = "0.28"
ratatui = { version = "0.29" }
log = "0.4"

rat-event = { version = "1.0", path = "../rat-event" }
rat-reloc = { version = "1.0", path = "../rat-reloc" }
rat-cursor = { version = "1.0", path = "../rat-cursor" }
rat-focus = { version = "0.32", path = "../rat-focus" }
rat-scrolled = { version = "1.0", path = "../rat-scrolled" }

[dev-dependencies]
fern = "0.7"
rand = "0.8.5"
anyhow = "1.0"
format_num_pattern = "0.9.2"
unicode-segmentation = "1.11"
